
body{
    background-image: url("#");
    background-color: rgb(215, 255, 255);
    background-size: cover;
}

.shopNow{
    position: relative; 
    top: 200px;
}

.productHolder{
    position: absolute; 
    top: 900px;
    right: 100px;
}


/*yar har fiddle dee dee*/

.bgimage {
    position: absolute;
    top: 0px;
    width:100%;
    height:800px;
    background: url('images/andreasForsberg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }
  .bgimage h5 {
    color:white;
    text-shadow:2px 2px #333;
  }

  .bgimage2 {
    position: absolute;
    top: 800px;
    width:100%;
    height:800px;
    background: url('images/wesleyTingey.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }

.bgimage3 {
  position: absolute;
    top: 1600px;
  width:100%;
  height:800px;
  background: url('images/tommyKwak.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
